<h1>Index des Propositions d'Évolution de LHÉO</h1>
<ul>
{% for pel in pels %}
    <li>
        <a href="{{ pel.href }}">{{ pel.title }}</a>
        {% if pel.pdf %}
        [<a href="{{ pel.pdf }}">pdf</a>]
        {% endif %}
    </li>
{% endfor %}
</ul>
